body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.Me {
    position:relative;
    left:1000px;
    width: 25%;
    height: auto;
    border-radius: 20px;
    border-style: double;
    border-width: 4px;
    border-color: lightgreen;
}

h1 {
    color: skyblue;
    text-align: center;
}

.IntroP {
    position:relative;
    top:-350px;
    left:20px;
    color:lightyellow;

}

.BoothP {
    position: relative;
    top:-400px;
    left:550px;
    color:lightgreen;
}


p {
    color: white;
}

button {
    margin-left: 900px;
    margin-top: -500px;
    background-color: skyblue;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 15px;
}

.image-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; /* Space from the top */
    padding: 20px;
    flex-wrap: wrap;
}

figure {
    text-align: center;
    margin: 0;
    width: 45%;
}

.OSP {
    width: 70%;
    height: auto;
}

.Strandbeest {
    position:relative;
    width:70%;
    height: auto;
}

.Arm {
    width: 70%;
    height: auto;
}

.Yolo {
    width: 50%;
    height: 50%;
}

.PBR {
    position:relative;
    top:20px;
}

.EV {
    width: 70%;
    height: auto;
}

.LB {
    width: 60%;
    height: auto;
}

.RL {
    width: 60%;
    height: auto;
}

.Booth {
    width: 70%;
    height: auto;
}

.Eternal {
    width: 60%;
    height: auto;
}

.TS {
    width: 60%;
    height: auto;
}

.Styro {
    width: 60%;
    height: auto;
}

.Hacksmith {
    width: 60%;
    height: auto;
}

.Allen {
    width: 60%;
    height: auto;
}

.Jake {
    width: 60%;
    height: auto;
}

.Veritasium {
    width: 60%;
    height: auto;
}

.Joel {
    width: 60%;
    height: auto;
}

.Peter {
    width: 60%;
    height: auto;
}

.PA {
    width: 60%;
    height: auto;
}


figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 5px;
    margin-top: 10px; /*space between img & caption */
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center; 
    }

    figure {
        width: 80%;
        margin-bottom: 20px;
    }
}
